<!DOCTYPE html>
<html>
    <%- include('./partials/head')%>
    <body>
        <%- include('./partials/header')%>
        <section class="banner">
            <img src="images/banner.png" alt="Banner de ofertas">
        </section>
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products" >
                    <% visited.forEach(product =>{
                        let finalPrice = (product.price*((100-product.discount)/100)).toFixed(0)%>
                    <article>
                        <a href="/products/detail/<%= product.id %>">
                        <img src="images/<%= product.image%>" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <div class="flex-row">
                            <p class="price">$<%= product.price%></p>
                            <p class="discount"><%= product.discount%>0% off</p>
                        </div>
                            <h4 class="description"><%= product.name%></h4>
                        </div>
                    </a>
                    </article>
                    <% });%>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <% inSale.forEach(product =>{
                        let finalPrice = (product.price*((100-product.discount)/100)).toFixed(0)%>
                    <article>
                        <a href="/products/detail/<%= product.id %>">
                        <img src="images/<%= product.image%>" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck"></i>
                            <div class="flex-row">
                            <p class="price">$<%= finalPrice%></p>
                            <p class="discount"><%= product.discount%>% off</p>
                            </div>
                            <div clas="des">
                            <h4 class="description"><%= product.name%></h4>
                        </div>

                        </div>
                        </a>
                    </article>
                    <% });%>
                </div>  
            </section>
            <h2>Noticias</h2>
            <section class="">
                <div class="notices">
                    <% notices.forEach(notice=>{%>
                    <div class="n1">
                        <img src="/images/<%=notice.image%>">
                        <h4 class="note"><%= notice.name%></h4>
                    </div>
                    <% });%>
                </div>
                
            </section>
        </main>
        <%- include('./partials/footer')%>
</body>
</html>