<!DOCTYPE html>
<html lang="en">
    <head>
		<%- include('./partials/head')%>
    </head>
<body>
    <%- include('./partials/header')%>
    <section id="container">
		
		<h1 class="text-center">Lista De Productos</h1>
		<a href="/admin/newProducto" id="newproducto" class="btn_new px-5 "><button class="btn btn-primary px-2 mb-2">Crear Producto</button></a>
		<a href="/admin/listaUsuarios" id="newproducto" class="btn_new px-5 "><button class="btn btn-primary px-2 mb-2">Lista Usuarios</button></a>
		
		
        <div class="container">
		<table class="table table-hover border border-2">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Categorias</th>
				<th>Colores</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Marca</th>
				<th>FOTOS</th>
				<th>Acciones</th>
			</tr>
			<% products.forEach(product =>{%>
				<tr>
					
					<td><%= product.id%></td>
					<td><%= product.name%></td>
					<td><%= product.category.name%></td>
					<td>defaul</td>
					<td><%= product.price%></td>
					<td><%= product.amount%></td>
					<td><%= product.brand.name%></td>
					<td><img src="/images/products/<%= product.image%> " height="60rem" width="60rem" class="img-fluid rounded-circle"></td>
					<td>
						<div class="d-flex gap-2">
						<a class="link_edit" href="/products/edit/<%=product.id%>"><button class="btn btn-success">Editar</button></a>

						<form action="/products/delete/<%=product.id%>?_method=delete" method="POST">
							<button type="submit"class="btn btn-danger">Borrar</button>
						</form>
					</div>
					</td>
					<%})%>
				</tr>
				
        </table>
        </div>
    </section>
	<%- include('./partials/footer')%>
</body>
</html>